﻿@model Waterlogged.Models.EditWorkout
@{
    Layout = null;
}

<h4>Workout</h4>
@Html.CustomHR()
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@Html.HiddenFor(model => model.Id)

<div class="form-group">
    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", @id = "workoutStartDate" } })
        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
    </div>
</div>

@Html.CustomHR()
<h4>Sets</h4>
@Html.CustomHR()
<div id="set-list">
    @Html.EditorForMany(x => x.WorkoutSets, x => x.Index)
</div>
<input type="button" id="add-set" value="Add Set" class="btn btn-default" />
