﻿@model Waterlogged.Models.EditSet
@{
    Layout = null;
}

<div class="row">
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.StrokeTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.StrokeTypeId, Model.StrokeTypes, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.StrokeTypeId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Distance, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.Distance, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Distance, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-5">
            @Html.DropDownListFor(model => model.DistanceUnitId, Model.DistanceUnits, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DistanceUnitId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Repetitions, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Repetitions, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Repetitions, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RestQuantity, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.RestQuantity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RestQuantity, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-5">
            @Html.DropDownListFor(model => model.RestRestTypeId, Model.RestTypes, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RestRestTypeId, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

@Html.CustomHR()