﻿@model Waterlogged.Models.EditWorkout

@{
    Layout = null;
    ViewBag.Title = "Edit Workout";
}
@using (Ajax.BeginForm("SaveWorkout", "Calendar", null, new AjaxOptions() { OnSuccess = "WorkoutSaved(data)" }, null))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.EditorForModel()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="saveWorkoutBtn" type="submit" value="Save" class="btn btn-default pull-right" />
            </div>
        </div>
    </div>
}

@section Scripts
{
}