﻿@model Waterlogged.Models.DetailsWorkout
@{
    Layout = null;
}

<div>
    <h4>Workout</h4>
    @Html.CustomHR()
    @Html.DisplayForModel()
</div>

<h4>Sets</h4>
@Html.CustomHR()
@Html.DisplayFor(x => x.WorkoutSets)
