﻿@model Waterlogged.Models.DetailsWorkout
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Workout</h4>
    @Html.CustomHR()
    @Html.DisplayForModel()
</div>

<h4>Sets</h4>
@Html.CustomHR()
@Html.DisplayFor(x => x.WorkoutSets)

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
