﻿/* color palette http://paletton.com/#uid=23o0u0kpME2fqP6kXJ2w7AfzSpZ  */

body {
    background: white;
    color: black;
    font-family: 'Martel Sans', sans-serif;
}

/*Bootstrap overrides*/
.navbar {
    background-color: #299ABA;
    font-weight:bold;
}

.navbar-inverse {
    border-bottom-width: 5px;
    border-color: #0689AE;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
   color: #fff;
}

.navbar-inverse .navbar-brand:hover {
    color: lightblue;
    font-size: 20px;
}

.navbar-inverse .nav > li > a:hover {
    color: lightblue;
    font-size: 18px;
}

.jumbotron {
    color: #fff;
    background-color: #75C5DB;
}

.btn-primary {
    background-color: #299ABA;
    color:#fff;
    border: none;
    outline: none;
} 

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus,
.btn-primary:active, .btn-primary.active,
.btn-primary:active:hover, .btn-primary.active:hover {
    background-color: #0689AE;
    color:#fff;
    border: none;
    outline: none;
} 
/*End Bootstrap overrides*/

.body-content {
    background-color: #fff;
    color: #0689AE;
}

/* Gradient transparent - color - transparent */
hr.wlog-hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(41, 154, 186, .35), rgba(0, 0, 0, 0));
}