﻿@model Waterlogged.Models.DetailsWorkout
@{
    Layout = null;
}

<div class="container">
    <div class="row">
        @Html.LabelFor(x => x.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Model.Name
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(x => x.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Model.StartDate
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(x => x.DateCreated, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Model.DateCreated
        </div>
    </div>

    @Html.CustomHR()
</div>
