﻿@model Waterlogged.Models.DetailsSet
@{
    Layout = null;
}

<div class="container">
    <div class="row">
        @Html.LabelFor(x => x.OrderInWorkout, htmlAttributes: new { @class = "control-label col-md-2 col-xs-6" })
        <div class="col-md-10 col-xs-6">
            @Model.OrderInWorkout
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(x => x.SetLabel, htmlAttributes: new { @class = "control-label col-md-2 col-xs-6" })
        <div class="col-md-10 col-xs-6">
            @Model.Distance <span> x </span> @Model.Repetitions @Model.DistanceUnitName
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(x => x.RestLabel, htmlAttributes: new { @class = "control-label col-md-2 col-xs-6" })
        <div class="col-md-10 col-xs-6">
            @Model.RestQuantity @Model.RestRestTypeName
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(x => x.StrokeTypeName, htmlAttributes: new { @class = "control-label col-md-2 col-xs-6" })
        <div class="col-md-10 col-xs-6">
            @Model.StrokeTypeName
        </div>
    </div>

    @Html.CustomHR()
</div>